<div class="row">
    <div class="col-sm-6">
      <h5 class="textColour">Players Cards</h5>
        <div class="border border-dark" id="imgPlayerContainer">
          <img src="{{cardData.cards[0].image}}">
          <img src="{{cardData.cards[1].image}}">
        </div>
      
    </div>
    <div class="col-sm-6">
        <h5 class="textColour">Dealers Cards</h5>
          <div class="border border-dark" id="imgDealerContainer">
            <img src="{{cardData.cards[2].image}}">
            <img src="{{cardData.cards[3].image}}">
          </div>
    </div>
    
  </div>
  <app-card [cardData]="cardData"></app-card>