<div class="row">
    <div class="col-sm-6">
      <h5 class="textColour">Players Cards</h5>
      <div class="card cardAlign">
        <img class="card-img-top" src="..." alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <h5 class="textColour">Card Value: </h5>
    </div>
    <div class="col-sm-6">
        <h5 class="textColour">Dealers Cards</h5>
        <div class="card cardAlign">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <h5 class="textColour">Card Value: </h5>
    </div>
  </div>
  <app-card></app-card>