<div class="row">
    <div class="col-sm-6">
      <h5 class="textColour">Players Cards</h5>
        <div class="border border-dark">
          <img src="" alt="Card image">
        </div>
      <h5 class="textColour">Card Value: </h5>
    </div>
    <div class="col-sm-6">
        <h5 class="textColour">Dealers Cards</h5>
          <div class="border border-dark">
            <img src="" alt="Card image">
          </div>
        <h5 class="textColour">Card Value: </h5>
    </div>
  </div>
  <app-card></app-card>